<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">
      <img src="../../../assets/filmweather.png" class="site-icon me-2">
      <span>FilmWeather</span>
    </a>
  </div>
</nav>

<div class="container mt-4" *ngIf="movie">
  <div class="row d-flex justify-content-between">
    <div class="col">
      <h2>{{movie.Title}}</h2>

      <div class="d-flex flex-row">
        <div>{{movie.Year}}</div>

        <span class="mx-2">|</span>

        <div>{{movie.Runtime}}</div>

        <span class="mx-2">|</span>

        <div>{{movie.Genre}}</div>
      </div>
    </div>

    <div class="col-2 d-flex justify-content-end align-items-center d-none d-md-block">
      <app-weather-preview></app-weather-preview>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-4 col-xl-3 movie-poster-container">
      <img [src]="movie.Poster" class="img-fluid">
    </div>

    <div class="movie-details-container col-lg-8 col-xl-9 shadow-sm">
      <div class="mb-2">
        {{movie.Plot}}
      </div>

      <div>
        <div><span class="movie-detail-label">Language:</span> {{movie.Language}}</div>
        <div><span class="movie-detail-label">Actors:</span> {{movie.Actors}}</div>
        <div><span class="movie-detail-label">Director:</span> {{movie.Director}}</div>
        <div><span class="movie-detail-label">Awards:</span> {{movie.Awards}}</div>
        <div><span class="movie-detail-label">Production:</span> {{movie.Production}}</div>
      </div>
    </div>
  </div>
</div>
